{#
/**
 * @file bks_autoecole_heures.html.twig
 * Default theme implementation to present Bks autoecole heures data.
 *
 * This template is used when viewing Bks autoecole heures pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bks_autoecole_heures()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('bks_autoecole_heures') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
